RewriteEngine on
RewriteCond $1 !^(index.php|resources|css|custom_tools|icon|images|image_posts|js|robots.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]